@import "tailwindcss";

body {
  align-items: left;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}


img {
  height: 7%;
  width: 7%;
}

@layer base {
  a {
    @apply text-blue-600 underline hover:text-blue-800 transition-colors;
  }
}